apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_DATABASE: {{ .Values.database.name }}
  MYSQL_USER: {{ .Values.database.user }}
  MYSQL_PASSWORD: {{ .Values.database.password }}
  MYSQL_ROOT_PASSWORD: {{ .Values.database.rootPassword }}
