apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    # spec:
    #   containers:
    #   - name: mysql
    #     image: mysql:8
    #     ports:
    #       - containerPort: 3306

    #     livenessProbe:
    #       tcpSocket:
    #         port: 3306
    #       initialDelaySeconds: 30
    #       periodSeconds: 10

    #     readinessProbe:
    #       tcpSocket:
    #         port: 3306
    #       initialDelaySeconds: 10
    #       periodSeconds: 5
    spec:
      containers:
      - name: mysql
        image: mysql:8
        ports:
          - containerPort: 3306

        env:
          - name: MYSQL_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: MYSQL_ROOT_PASSWORD
          - name: MYSQL_DATABASE
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: MYSQL_DATABASE
          - name: MYSQL_USER
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: MYSQL_USER
          - name: MYSQL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: MYSQL_PASSWORD

        volumeMounts:
          - name: mysql-storage
            mountPath: /var/lib/mysql

        livenessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 30
          periodSeconds: 10

        readinessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 10
          periodSeconds: 5

          envFrom:
            - secretRef:
                name: mysql-secret
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc
