apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: medusa-ingress
spec:
  rules:
    - host: {{ .Values.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: medusa
                port:
                  number: 80
